<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
</head>
<body>
<h1>Create New User</h1>

<form th:action="@{/admin}" th:object="${user}" method="post">

    Name: <input type="text" th:field="*{username}"/><br/>
    LastName: <input type="text" th:field="*{lastName}"/><br/>
    age: <input type="text" th:field="*{age}"/><br/>
    password: <input type="text" th:field="*{password}"/><br/>
    <select th:field="*{roles}" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${user.roles.contains(role)}"></option>
    </select><br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>